@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.courseContent > * {
  margin-top: 15px;
  margin-bottom: 15px;
}
.courseContent > * > * {
  margin-top: 10px;
  margin-bottom: 10px;
}
.courseContent ul {
  list-style-type: square;
  margin-left: 20px;
}
.courseContent ol {
  list-style-type: decimal;
  margin-left: 20px;
}
